/* more programatically defined colors */
:root {
    --panel-color: #00ABE4;
    --subpanel-color: #96DCF8;
    --collapsed-color: #FFFFFF;
    --expanded-color: #4cb5d8;
    --border-color: #212529;
    --minus-icon-color: #7f7f7f;
    --info-icon-color: #E97132;
}

.minus-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  -webkit-mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%20385%20385%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20transform%3D%22matrix(1.3333%200%200%20-1.3333%20-376%20485)%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%2230%22%3E%3Cpath%20d%3D%22m297%20305.62c0%2023.82%2019.31%2043.13%2043.13%2043.13h172.49c23.82%200%2043.13-19.31%2043.13-43.13v-172.49c0-23.82-19.31-43.13-43.13-43.13h-172.49c-23.82%200-43.13%2019.31-43.13%2043.13z%22/%3E%3Cpath%20d%3D%22m364.5%20218.25h125.62%22/%3E%3C/g%3E%3C/svg%3E');
  -webkit-mask-size: cover;
  mask-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xml%3Aspace%3D%22preserve%22%20viewBox%3D%220%200%20385%20385%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20transform%3D%22matrix(1.3333%200%200%20-1.3333%20-376%20485)%22%20fill%3D%22none%22%20stroke%3D%22%23ffffff%22%20stroke-miterlimit%3D%2210%22%20stroke-width%3D%2230%22%3E%3Cpath%20d%3D%22m297%20305.62c0%2023.82%2019.31%2043.13%2043.13%2043.13h172.49c23.82%200%2043.13-19.31%2043.13-43.13v-172.49c0-23.82-19.31-43.13-43.13-43.13h-172.49c-23.82%200-43.13%2019.31-43.13%2043.13z%22/%3E%3Cpath%20d%3D%22m364.5%20218.25h125.62%22/%3E%3C/g%3E%3C/svg%3E');
  display: inline-block;
  background-color: var(--minus-icon-color);
}

.info-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 573.92 572.47" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1203.5 -688.85)"><g transform="translate(-570.53 103.41)" stroke-width=".92754"><path d="m2036.7 1158.2c-11.942-0.9785-35.73-4.8119-45.842-7.3875-130.88-33.336-221.6-153.14-217.29-286.98 1.3603-42.219 10.57-80.079 28.364-116.6 38.278-78.566 110.05-135.48 195.59-155.11 21.932-5.0319 34.972-6.3963 61.901-6.4769 27.243-0.0815 36.313 0.7053 57.971 5.029 80.491 16.069 150.11 65.655 191.89 136.67 24.544 41.723 37.338 86.605 38.774 136.02 2.0184 69.436-19.212 133.1-62.821 188.38-10.09 12.791-33.988 36.389-47.259 46.667-38.966 30.175-81.649 49.011-128.24 56.591-25.141 4.0902-49.192 5.1391-73.036 3.1855zm127.52-110.48c0.3108-2.1681 0.4407-12.916 0.2887-23.884l-0.2764-19.942-71.884-0.4855v-217.95h-125.22v44.522h72.348v174.38h-56.58v47.304h180.76zm-84.084-319.67c6.9445-3.5295 13.544-9.3486 15.949-14.064 2.7568-5.4036 3.9948-14.536 2.8272-20.853-2.0745-11.221-7.7609-18.178-19.486-23.84-5.2458-2.5331-7.1252-2.9478-13.514-2.9818-6.4637-0.0345-8.2242 0.34124-13.656 2.9146-16.19 7.6697-23.301 22.313-18.839 38.797 2.7629 10.206 10.415 17.787 22.212 22.004 7.3249 2.6184 17.002 1.8381 24.506-1.9761z" fill="orange"/></g></g></svg>');
  -webkit-mask-size: cover;
  mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 573.92 572.47" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-1203.5 -688.85)"><g transform="translate(-570.53 103.41)" stroke-width=".92754"><path d="m2036.7 1158.2c-11.942-0.9785-35.73-4.8119-45.842-7.3875-130.88-33.336-221.6-153.14-217.29-286.98 1.3603-42.219 10.57-80.079 28.364-116.6 38.278-78.566 110.05-135.48 195.59-155.11 21.932-5.0319 34.972-6.3963 61.901-6.4769 27.243-0.0815 36.313 0.7053 57.971 5.029 80.491 16.069 150.11 65.655 191.89 136.67 24.544 41.723 37.338 86.605 38.774 136.02 2.0184 69.436-19.212 133.1-62.821 188.38-10.09 12.791-33.988 36.389-47.259 46.667-38.966 30.175-81.649 49.011-128.24 56.591-25.141 4.0902-49.192 5.1391-73.036 3.1855zm127.52-110.48c0.3108-2.1681 0.4407-12.916 0.2887-23.884l-0.2764-19.942-71.884-0.4855v-217.95h-125.22v44.522h72.348v174.38h-56.58v47.304h180.76zm-84.084-319.67c6.9445-3.5295 13.544-9.3486 15.949-14.064 2.7568-5.4036 3.9948-14.536 2.8272-20.853-2.0745-11.221-7.7609-18.178-19.486-23.84-5.2458-2.5331-7.1252-2.9478-13.514-2.9818-6.4637-0.0345-8.2242 0.34124-13.656 2.9146-16.19 7.6697-23.301 22.313-18.839 38.797 2.7629 10.206 10.415 17.787 22.212 22.004 7.3249 2.6184 17.002 1.8381 24.506-1.9761z" fill="orange"/></g></g></svg>');
  display: inline-block;
  margin-bottom: -2px;
}

/* modulate the icon color of expanded and collapsed info icons */
.iconcolor {
  background-color: var(--info-icon-color);
}

.accordion-button:not(.collapsed) .iconcolor {
  background-color: var(--info-icon-color); /* Color when expanded */
}

/* index.html specific style sheet */
.max-width-card {
  max-width: 1000px; /* Set your desired maximum width */
}

/* shared project style sheet */
.custom-nav-spacing .nav-link {
  padding-top: 0.25rem; /* Optional: Adjust the padding as needed */
  padding-bottom: 0.25rem; /* Optional: Adjust the padding as needed */
}

/* Make the popover body small and scrollable */
.popover-body {
  max-height: 450px;
  overflow-y: auto;
}

/* material.html specific style sheet */
.accordion-button:not(.collapsed).panel {
    color: #1B282D;
    background-color: var(--expanded-color);
    border: 1px solid var(--border-color);
}

.accordion-button.collapsed.panel {
    color: #1B282D;
    background-color: var(--collapsed-color);
    border: 1px solid var(--border-color);
}

/* subpanel accordion button color - background color is the button color */
.accordion-button.subpanel {
    color: #1B282D;
    background-color: var(--subpanel-color);
    border: 1px solid var(--border-color);
}

.sidebar-nav-color {
  color: var(--panel-color);
  text-decoration: none; /* Removes underline */
  padding: 10px 15px; /* padding */
  display: inline-block; /* line block-like elements */
}
.sidebar-nav-color:hover {
  color: var(--panel-color);
}
.sidebar-nav-color:active {
  color: var(--panel-color);
}
.sidebar-nav-color:focus {
  color: var(--panel-color);
}

.sidebar-nested-nav-color {
  color: var(--subpanel-color);
  text-decoration: none; /* Removes underline */
  padding: 10px 15px; /* padding */
  display: inline-block; /* line block-like elements */
}
.sidebar-nested-nav-color:hover {
  color: var(--subpanel-color);
}
.sidebar-nested-nav-color:active {
  color: var(--subpanel-color);
}
.sidebar-nested-nav-color:focus {
  color: var(--subpanel-color);
}
