<!DOCTYPE html>
<html>
<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous" />
  % if plotly:
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  % end
  <script
    defered
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous">
  </script>
  % if callback:
  <script>
   function cb(selection, name, uid) {
       $.getJSON(
           {
               url: "/callback",
               data: { 'data': selection, 'name': name, 'uid': uid },
               success: function (result) {
                   Plotly.newPlot(name, result, {staticPlot: true});;
                   }
               });
       }
  </script>
  % end
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <title>{{ title }}</title>
</head>
{{ !base }}

<div class="text-center">
  This work is licensed under a
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
    Creative Commons Attribution-Noncomercial 4.0 International License</a>.<br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
    <img alt="Creative Commons License" style="border-width:0"
         src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
</div>

<div class="text-center">
  Powered by
  <a href="https://bottlepy.org/docs/dev/index.html">Bottle</a>
  and
  <a href="https://gitlab.com/camd/camd-web">CAMD-Web</a>
</div>

</html>
