% rebase('base', plotly=False, callback=False)
<body>
<script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous">
</script>
<script>
    // Store scroll position in sessionStorage when save-scroll class is present
    function storeScrollPosition(event) {
        const target = event.target;
        const isSaveScrollState = target.classList.contains('save-scroll');

        if ((isSaveScrollState)) {
            sessionStorage.setItem('scrollPosition', window.scrollY);
        }
    }

    // Function to retrieve scroll position from sessionStorage
    function restoreScrollPosition() {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition !== null) {
            // Temporarily disable smooth scroll behavior
            document.documentElement.style.scrollBehavior = 'auto';
            // Set the scroll position without animating
            window.scrollTo(0, scrollPosition);
            sessionStorage.removeItem('scrollPosition');
        }
    }

    // Attach the storeScrollPosition function to the click event
    document.addEventListener('click', function(event) {
        storeScrollPosition(event);
    });

    // Call the restoreScrollPosition function on page load
    document.addEventListener('DOMContentLoaded', restoreScrollPosition);

    // Re-enable smooth scroll behavior after page refresh
    document.documentElement.style.scrollBehavior = 'smooth';
</script>


<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-2 col-sm-3 col-lg-2 p-2 bg-dark"
         style="overflow-y: auto; height: 100vh; position: sticky; top: 0;">
      <div class="d-flex flex-column align-items-start text-white min-vh-10 custom-nav-spacing">
        <!--  Persistent Sidebar Content  -->
        {{ !sidebar }}
        <hr>
      </div>
    </div>

    <!--  Search Fields + Results  -->
    <div class="col-10 col-sm-9 col-lg-10">
      <!--  Search Table Forum  -->
      <div class="container-fluid mt-2 mb-2">
        <div class="row row-cols-2">
          <div class="col-1"></div>
          <div class="col-11 col-lg-10 px-0">
            <div class="card max-width-card text-bg-light shadow-sm p-3
             col-12 col-lg-10 col-xl-8 col-xxl-7">
              <form hx-get="/table?sid={{ session.sid }}"
                 hx-target="#table-div"
                 hx-swap="outerHTML">
                <div class="col">
                  {{ !search }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--  Results Table  -->
      {{ !table }}
    </div>
  </div>
</div>

</body>
