% rebase('base', plotly=True, callback=True)

<!-- this is needed to resize plotly once the DOM assigns the hidden elements a
 size upon expanding hidden elements in an accordion -->
<script>
  // find any plotly plot id in an accordion element
  function findPlotlyIdInAccordionBody(accordionBody) {
    var plotlyIds = [];
    var plotlyElements = accordionBody.querySelectorAll('.js-plotly-plot');
    plotlyElements.forEach(plotlyElement => {
      if (plotlyElement) {
        plotlyIds.push(plotlyElement.id);
      }
    });
    
    return plotlyIds;
  }

  function resize(id) {{
    // uncomment this if you have issues
    // console.log('logging the plotly id', id)
    Plotly.Plots.resize(document.getElementById(id));
  }}

  $(document).ready(function() {
  $('.accordion').on('show.bs.collapse hide.bs.collapse', function (e) {
    var $target = $(e.target);
    var $header = $target.prev('.accordion-header');
    var accordionBody = $target.find('.accordion-body')[0];
    var plotlyIds = findPlotlyIdInAccordionBody(accordionBody);
    plotlyIds.forEach(plotlyId => {
      resize(plotlyId);
    });
  });});
</script>
<!-- expand and collapse all panels -->
<script>
  // Function to expand all accordion panels
  function expandAll() {
    const accordionItems = document.querySelectorAll('.accordion-collapse');
    accordionItems.forEach(item => {
      item.classList.add('show');
      const button = item.previousElementSibling.querySelector('.accordion-button');
      button.setAttribute('aria-expanded', 'true');
      button.classList.remove('collapsed');

      var plotlyIds = findPlotlyIdInAccordionBody(item);
      plotlyIds.forEach(plotlyId => {
        resize(plotlyId);
      });

      id = item.getAttribute('id').replace('flush-collapse', '')
      supermenu = document.getElementById('supermenu' + id)
      if (supermenu) {
        document.querySelectorAll('#submenu' + id).forEach(function(sidebarMenu) {
          sidebarMenu.classList.add('show')
        })
      }
    });
  }

  // Function to collapse all accordion panels
  function collapseAll() {
    const accordionItems = document.querySelectorAll('.accordion-collapse');
    accordionItems.forEach(item => {
      item.classList.remove('show');
      const button = item.previousElementSibling.querySelector('.accordion-button');
      button.setAttribute('aria-expanded', 'false');
      button.classList.add('collapsed');

      var plotlyIds = findPlotlyIdInAccordionBody(item);
      plotlyIds.forEach(plotlyId => {
        resize(plotlyId);
      });

      id = item.getAttribute('id').replace('flush-collapse', '')
      supermenu = document.getElementById('supermenu' + id)
      if (supermenu) {
        document.querySelectorAll('#submenu' + id).forEach(function(sidebarMenu) {
          sidebarMenu.classList.remove('show')
        })
      }
    });
  }
</script>
<!-- handle expand/collapse from click and sidebar -->
<script>
  function onLoad(event) {
    const accordionItems = document.querySelectorAll('.panel');
      accordionItems.forEach(item => {
        if (item.getAttribute('expanded-tag') === "True") {
          id = item.getAttribute('id').replace('sec', '')
          expandAccordion(item, id)
        }
      });
  }

  <!-- sidebar: single click scroll to loc in viewport -->
  function handleAnchorEvent(event, panelIndex) {
    // Prevent the default scroll behavior of the anchor element
    event.preventDefault();

    // Get the accordion section
    var accordionSection = document.getElementById('sec' + panelIndex);

    // Check for sidebar submenu
    supermenu = document.getElementById('supermenu' + panelIndex)
    if (supermenu) {
      document.querySelectorAll('#submenu' + panelIndex).forEach(function(sidebarMenu) {
        var bsCollapse = new bootstrap.Collapse(sidebarMenu);
      })
    }

    // Check if the accordion button is collapsed
    var isCollapsed = accordionSection.querySelector('.accordion-button').classList.contains('collapsed');

    // If the accordion button is collapsed, always expand it
    if (isCollapsed) {
      expandAccordion(accordionSection, panelIndex);
    } else {
      // If the accordion button is expanded, scroll to the top of the accordion section
      collapseAccordion(accordionSection, panelIndex);
    }
  }

  function expandAccordion(accordionSection, panelIndex) {
    // Use Bootstrap's collapse method to expand the accordion
    var collapseTarget = accordionSection.querySelector('.accordion-collapse');
    var bsCollapse = new bootstrap.Collapse(collapseTarget);
    const button = collapseTarget.previousElementSibling.querySelector('.accordion-button');
    button.setAttribute('aria-expanded', 'true');
    button.classList.remove('collapsed');

    // Attach an event listener for when the accordion is fully expanded
    collapseTarget.addEventListener('shown.bs.collapse', function () {
      // After expansion, scroll to the top of the accordion section
      scrollToTop(panelIndex);
    }, {once: true});
  }

  function collapseAccordion(accordionSection, panelIndex) {
    // Use Bootstrap's collapse method to expand the accordion
    var collapseTarget = accordionSection.querySelector('.accordion-collapse');
    var bsCollapse = new bootstrap.Collapse(collapseTarget);
    const button = collapseTarget.previousElementSibling.querySelector('.accordion-button');
    button.setAttribute('aria-expanded', 'false');
    button.classList.add('collapsed');
  }

  function scrollToTop(panelIndex) {
    // Get the position of the expanded accordion section
    var accordionSection = document.getElementById('sec' + panelIndex);
    var accordionPosition = accordionSection.offsetTop;

    // Get the height of the header row element with id to compute offset
    var headerClickButtons = document.getElementById('header-click-buttons');
    var headerClickButtonsHeight = headerClickButtons.offsetHeight;

    // Calculate the new scroll position
    var scrollPosition = accordionPosition - headerClickButtonsHeight;

    // Scroll to the top of the accordion section with smooth behavior
    window.scrollTo({
      top: scrollPosition,
      behavior: 'smooth'
    });
  }
</script>

<body onload="onLoad(event)">

<!-- Sidebar + Panels -->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-2 col-sm-3 col-lg-2 p-2 bg-dark"
         style="overflow-y: auto; height: 100vh; position: sticky; top: 0;">
      <div class="d-flex flex-column align-items-start text-white min-vh-10 custom-nav-spacing">
        <!--  Persistent Sidebar Content  -->
        {{ !sidebar }}

        <!--  Sidebar Collapse Buttons  -->
        <ul class="nav nav-pills flex-column text-wrap w-100">
          <li class="nav-item nav-list affix">
            % for panel in panels:
              <!--  ask PanelData to build the sidebar using the
                    sidebar_element.html template  -->
              {{ !panel.build_sidebar() }}
            % end
          </li>
        </ul>
        <hr>
      </div>
    </div>

    <!--  Information Viewing Area  -->
    <div class="col-10 col-sm-9 col-lg-10">
      <!-- Logo (header) Area -->
      <div class="row sticky-top" id="header-click-buttons">
        <!-- expand/collapse all -->
        <div class="btn-toolbar justify-content-end bg-white" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary" onclick="collapseAll()">Collapse All</button>
            <button type="button" class="btn btn-outline-secondary" onclick="expandAll()">Expand All</button>
          </div>
        </div>
      </div>

        % for panel in panels:
          <!--  ask PanelData to compile all panels and subpanels
                populating the panel_element.html template  -->
          {{ !panel.build_body() }}
        % end

    </div>
  </div>
</div>

<!-- custom implementation for popover. The position of this is EXTREMELY
 important. It must come after the popover element, or it will not work -->
<script>
$(function() {
  var popoverTriggerList = [].slice.call(
    document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  })
  var counter;

  $('[data-bs-toggle="popover"]').popover({
      trigger: 'manual',
      animation: false,
      html: true,
      title: function () {
          return $(this).parent().find('.popover > .title').html();
      },
      content: function () {
          return $(this).parent().find('.popover > .body').html();
      },
      container: 'body',
      placement: 'auto'
  }).on("mouseenter",function () {
      var _this = this; // THIS POPOVER element
      // clear the counter
      clearTimeout(counter);
      // Close all other Popovers
      $('.popover').not(_this).popover('hide');

      // start new timeout to show popover
      counter = setTimeout(function(){
          if($(_this).is(':hover'))
          {
              $(_this).popover("show");
          }
          $(".popover").on("mouseleave", function () {
              $('[data-bs-toggle="popover"]').popover('hide');
          });
      }, 400);

  }).on("mouseleave", function () {
      var _this = this;
      setTimeout(function () {
          if (!$(".popover:hover").length) {
              if(!$(_this).is(':hover')) // change $(this) to $(_this)
              {
                  $(_this).popover('hide');
              }
          }
      }, 200);
  });

});
</script>

</body>

<!-- webpage javascript for interactive plotly -->
% for panel in panels:
%     for p in panel.subpanels:
        {{ !p.script }}
%     end
      {{ !panel.script }}  
% end
