% if case == 'Panel' or case == 'SuperPanel':
  <!--  Panel  -->
  <section id="sec{{ pid }}" expanded-tag="{{ expanded }}" class="panel">
    <div class="accordion accordion-flush">
      <!--  Create each Accordion Body  -->
      <div class="accordion-item mb-2 mt-2">
        <!--  accordion button  -->
        <h2 class="accordion-header" id="flush-heading{{ pid }}">
          <button class="accordion-button collapsed panel"
              type="button"
              onclick="handleAnchorEvent(event, {{ pid }});"
              aria-expanded="false">
            <span class="d-none d-sm-inline">
              % if info != '':
                  <a href="#" class="d-inline-block" tabindex="0"
                     data-bs-toggle="popover"
                     data-bs-html="true"
                     data-bs-content="{{ !info }}">
                     <i class="info-icon iconcolor" style="margin-right: 0.3em;"></i>
                  </a>
              % else:
                  <span style="margin-right: 1.5em"></span>
              % end
              {{ !title }}
            </span>
          </button>
        </h2>

        <!--  Accordion Content (Panel info)  -->
        <div class="accordion-collapse collapse"
              id="flush-collapse{{ pid }}"
              aria-labelledby="flush-heading{{ pid }}" title="{{ !title }}">
          <div class="panel accordion-body">
            <!--  rendered by panel.py in PanelData.build_body()  -->
            {{ !html }}
          </div>
        </div>
      </div>
    </div>
  </section>
% elif case == 'SubPanel':
  <!--  Subpanel  -->
  <section id="sec{{ pid }}">
    <div class="accordion accordion-flush">
      <!--  Create each Accordion Body  -->
      <div class="accordion-item mb-1">
        <!--  accordion button  -->
        <h2 class="accordion-header" id="flush-heading{{ pid }}">
          <button class="accordion-button collapsed subpanel"
                  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ pid }}"
                  aria-expanded="false" aria-controls="flush-collapse{{ pid }}">
            <span class="d-none d-sm-inline">
            % if info != '':
              <a href="#" class="d-inline-block" tabindex="0"
                 data-bs-toggle="popover"
                 data-bs-html="true"
                 data-bs-content="{{ !info }}">
                   <i class="info-icon iconcolor" style="margin-right: 0.3em;"></i>
              </a>
            % else:
              <span style="margin-right: 1.5em"></span>
            % end
              {{ !title }}
            </span>
          </button>
        </h2>

        <!--  Accordion Content (Panel info)  -->
        <div class="accordion-collapse {{'collapse'}}"
            id="flush-collapse{{ pid }}"
            aria-labelledby="flush-heading{{ pid }}" title="{{ !title }}">
          <div class="panel accordion-body">
            {{ !html }}
          </div>
        </div>
      </div>
    </div>
  </section>
% end