<!--  built/called by web.py via web.CAMDApp.persistent_sidebar  -->
% if logo:
    {{ !logo }}
% end
<ul class="navbar-nav align-items-start text-white">
  <!-- THIS Home Page Button -->
  <li class="nav-item dropdown">
    <a href="/{{ home }}" class="nav-link">
      <span class="d-none d-sm-inline">New search</span>
    </a>
  </li>
  <!-- Sidebar Other Pages Button -->
  % for name, url in sidebar_links:
  <li class="nav-item dropdown">
    <a class="nav-link"
       aria-current="page" href="{{ !url }}">
      <span class="d-none d-sm-inline">{{ name }}</span>
    </a>
  </li>
  % end
</ul>