<!--  called by panel.build_sidebar() in materials.html built by panel.py
PanelData.build_sidebar  -->
<!-- template variables: panel.title, pid (panel index), ppid (parent panel
index), subpanel.title
-->

% if case == 'Panel':
  <!--   CASE 1 - no subpanels -->
  <a class="nav-link sidebar-nav-color px-0 py-1 text-start text-wrap w-100"
     onclick="handleAnchorEvent(event, {{ pid }})"
    href="#sec{{ pid }}">
    <span class="d-none d-sm-inline text-wrap">{{ !title }}</span>
  </a>
% elif case == 'SuperPanel':
  <!--   CASE 2 - superpanel  -->
  <li>
    <!--  Subpanel Sidebar Dropdown Name  -->
    <a class="nav-link text-start sidebar-nav-color px-0 py-1 text-wrap w-100"
      onclick="handleAnchorEvent(event, {{ pid }});"
      href="#sec{{ pid }}">
        <span id="supermenu{{ pid }}"
              class="d-none d-sm-inline text-wrap dropdown-toggle">{{ !title }}</span>
    </a>
  </li>
% elif case == 'SubPanel':
  <!--   CASE 3 - ARE SUB panel  -->
  <ul class="nav collapse px-0 py-1 text-wrap w-100"
    id="submenu{{ ppid }}" data-bs-parent="#menu">
    <li>
      <button class="nav-link sidebar-nested-nav-color px-2 py-1 text-start text-wrap w-100"
          type="button"
          onclick="handleAnchorEvent(event, {{ pid }})"
          href="#sec{{ pid }}">
        <span class="d-none d-sm-inline">{{ !title }}</span>
      </button>
    </li>
  </ul>
% end
