<div id="table-div">
  <!--  show the error message  -->
  <div class="row row-cols-2">
    <div class="col-1"></div>
    <div class="col-auto">
      <p style="color: red;">{{ error }}</p>
    </div>
  </div>
  <!--  show the summary message  -->
  <div class="row row-cols-2">
    <div class="col-1"></div>
    <div class="col-auto">
      <p style="color: green;">{{ summary_string }}</p>
    </div>
  </div>

  <!--  Add Column to Search Table Results  -->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-auto py-1">
      <form class="d-flex align-items-center border border-dark rounded bg-light p-1">
        <input class="form-control" type="hidden" name="sid" value="{{ session.sid }}">

        <label for="addc" class="col-auto col-form-label px-1">Add column:</label>
        <select
          hx-get="/table?sid={{ session.sid }}"
          hx-trigger="change"
          hx-target="#table-div"
          hx-swap="outerHTML"
          class="form-select mx-2"
          id="addc"
          name="toggle"
          style="width: auto; max-width: 300px;">
          <option value="" selected=""></option>
          % for name, value in new_columns:
            <option value="{{ name }}">{{ !value }}</option>
          % end
        </select>
      </form>
    </div>
  </div>

  <!-- display row and page info here -->
  <!--  Search Result Table  -->
  <div class="container-fluid col-md-10 col-12" >
    <div class="row card">
      <table class="table table-hover">
        <thead class="sticky-top table-light">
          <tr>
            % for name, column in header:
              <th>
                <a hx-get="/table?sid={{ session.sid }}&sort={{ name }}"
                   hx-trigger="click"
                   hx-target="#table-div"
                   hx-swap="outerHTML"
                   onclick="storeScrollPosition(event)"
                   class="sticky-top save-scroll">
                  {{ !column }}
                  % if name != session.sort:

                  % else:
                    % if session.direction == 1:
                      <a class="text-decoration-none">&#x25B2;</a>
                    % else:
                      <a class="text-decoration-none">&#x25BC;</a>
                    % end
                  % end
                </a>
                <a hx-get="/table?sid={{ session.sid }}&toggle={{ name }}"
                   hx-trigger="click"
                   hx-target="#table-div"
                   hx-swap="outerHTML"
                   onclick="storeScrollPosition(event)"
                   class="text-decoration-none font-size-sm save-scroll"
                   style="color:#36454F;font-size: 10px;">
                    <i class="minus-icon save-scroll"
                       style="font-size:18px" onclick="storeScrollPosition(event)"></i>
                </a>
              </th>
            % end
          </tr>
        </thead>
        <tbody class="table-responsive">
          % for uid, columns in rows:
            <tr style="transform: rotate(0);">
              % for column in columns:
                <th scope="row">
                  <a href=/material/{{ uid }} target="_blank" class="stretched-link"
                     style="text-decoration: none; color: black; font-weight: normal;">
                    {{ !column }}
                  </a>
                </th>
              % end
            </tr>
          % end
        </tbody>
      </table>
    </div>
  </div>

  <!--  Footer Pagination  -->
  <div class="row sticky-bottom">
    <nav class="bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <div class="flex-container col-10">
          <ul class="pagination mb-1 mt-1">
            <!-- first and previous page buttons -->
            <div class="d-flex justify-content-start col-1.5">
              % for page, text in pages.buttons[0:2]:
                <li class="page-item {{! 'disabled' if (page == session.page) else '' }}">
                  <a class="page-link"
                     hx-get="/table?sid={{ session.sid }}&page={{ page }}"
                     hx-trigger="click"
                     hx-target="#table-div"
                     hx-swap="outerHTML"
                     title="{{! text }}">{{ text }}</a>
                </li>
              % end
            </div>

            <!-- active page buttons -->
            <div class="d-flex justify-content-evenly col-8">
            % for page, text in pages.buttons[2:-2]:
              % active = 'active' if page == session.page else ''
              <li class="page-item  {{! active }} col-1.5">
                <a class="page-link"
                   hx-get="/table?sid={{ session.sid }}&page={{ page }}"
                   hx-trigger="click"
                   hx-target="#table-div"
                   hx-swap="outerHTML"
                   style="display: inline-block; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; margin-right: 5px;"
                   title="{{! text }}">{{ text }}</a>
              </li>
            % end
            </div>

            <!-- next and last page buttons -->
            <div class="d-flex justify-content-end col-1.5">
            % for page, text in pages.buttons[-2:]:
              <li class="page-item {{! 'disabled' if page == session.page else '' }}">
                <a class="page-link"
                   hx-get="/table?sid={{ session.sid }}&page={{ page }}"
                   hx-trigger="click"
                   hx-target="#table-div"
                   hx-swap="outerHTML"
                   title="{{! text }}">{{ text }}</a>
              </li>
            % end
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
